body{
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
    background-color: aquamarine;
}

h1{
    font-size: 36px;
    color: rgb(72,70,70);
    margin-top:0;
}

p{
    font-size: 18px;
    line-height: 1.5;
    color: darkslategray;
}

.container{
    width: 80%;
    padding: 20px;
    background-color: lightyellow;
    margin: 0 auto;
}

@media (max-width: 768px){
    .container{
        width:90%;
        padding: 10px;
    }

    h1{
        font-size: 24px;
    }

    p{
        font-size: 12px;
    }
}