/* Define a fonte padrão do documento e a cor de fundo do body */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Centraliza o texto do h1 e define uma margem superior */
h1 {
  text-align: center;
  margin-top: 50px;
}

/* Remove o estilo padrão da lista e define a exibição como flex com centralização horizontal */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

/* Define uma margem para cada item da lista */
li {
  margin: 10px;
}

/* Define o estilo dos links, incluindo o tamanho da caixa, a cor do texto e do fundo, o preenchimento e o raio da borda */
a {
  display: block;
  text-align: center;
  color: #fff;
  background-color: #3b5998;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

/* Define o estilo dos links ao passar o mouse sobre eles */
a:hover {
  background-color: #2f4a8e;
}

/* Define a cor de fundo para a classe "instagram" */
.instagram {
  background-color: #c13584;
}

/* Define a cor de fundo para a classe "twitter" */
.twitter {
  background-color: #1da1f2;
}