body {
    background-color: rgb(255, 248, 248);
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 2%;
}

ul {
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

li {
    margin: 5%;
}

a {
    display: block;
    text-align: center;
    background-color: rgba(25, 119, 243, 1);
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(174, 166, 255);
}

.instagram {
    background-image: linear-gradient(to bottom, rgba(255, 28, 14, 1)
    ,rgba(255, 191, 0, 1),rgba(133, 7, 255, 1) ,rgba(244, 0, 194, 1)
    ,rgba(253, 0, 91, 1),rgba(255, 0, 62, 1));
}

.twitter{
    background-color: rgba(0, 174, 239, 1);
}

.facebook{
    background-color: rgba(0, 120, 246, 1);
}