<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Calçados</title>
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div id="app">
        <h1>Loja de Calçados</h1>
        <ul>
            <li v-for="product in products">
                <a :href="'#/product/' + product.id">
                    <img :src="product.image" :alt="product.name"><br>
                    <span>{{product.name}}</span>
                </a><!--fechamento a-->

                <!--fechamento de exibição dos detalhes dos produtos-->
                
            </li><!--fechamento lista-->
        </ul><!--fechamento lista-->
        <div>
            <h2>{{currentProduct.name}}</h2>
            <p>{{currentProduct.description}}</p>
            <p>Preço: R$ {{currentProduct.price}}</p>
            <button @click="addToCart(currentProduct)">Adicionar ao Carrinho</button>
        </div><!--fechamento div-->

        <div>
            <h3>Carrinho de compras</h3>
            
           
            <ul v-if="cart.length > 0">
                <li v-for="item in cart">
                    {{item.name}} - R$ {{item.price}}
                </li><!--fechamento lista-->
            </ul><!--fechamento lista-->
           
            <div v-if="cart.length > 0">
                <h1>Checkout</h1>
                <ul>
                    <li v-for="product in cart">
                        <img :src="product.image" :alt="product.name"/>
                        <h3>{{product.name}}</h3>
                        <p>{{product.description}}</p>
                        <p>preço: R$ {{product.price}}</p>
                        <button @click="removeFromCart(product)">Remover</button>
                    </li><!--fechamento linha-->
                </ul><!--fechamento lista-->

                <i>Quantidade de itens: {{cartItemCount}}</i>
                 <div class="number">
                    Total: R$ {{cartTotal.toFixed(2)}}
                 </div><!--fechamento div total-->

            </div><!--fechamento div checkout-->
        </div><!--fechamento div cart-->

    </div><!--fechamento div app-->
    <script src="process.js"></script>

</body>
</html>
