.calculadora{
    background-color: aqua;
    top: 50%;
    left: 50%;
    position: fixed;
    display: flex;
    border: 1px solid rgb(182,179,179);
    transform: translate(-50%, -50%);
    font-size: 2rem;
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient( rgb(0,0,0),rgb(185,6,6),rgb(212,243,7));
    flex-direction: column;
    justify-content: center;
    align-items: center;
}/*fechamento calculadora*/

.tela{
    color: beige;
    width: 93%;
    height: 80px;
    background-color: rgb(0, 0, 0),rgb(185,6,6),rgb(212,243,7);
    border-radius: 10px;
    /* font-size: 3rem; */
    margin-bottom: 20px;
    border: 3px solid rgb(255, 255, 255);
    padding: 10px;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}/*fechamento tela*/

.linha{
    display:flex;
    flex-direction: row;
    margin-top: 10px;
}

.configuracaobotao{
    display: flex;
    flex-direction: column;
    align-items:center ;
}/*fechamento configuracaobotao*/

button{
    font-size: 2rem;
    width: 80px;
    height: 80px;
    margin-right: 5px;
    border-radius: 10xp;

}

button:hover{
    background-color: rgb();
}

button:last-child{
    margin-right: 0;
}

.clear{
    width: 100px;
}
