*{
    margin: 0;
    padding: 0;
}

#hamburguer{
    display: none;
}

.menuBotao{
    display: block;
    width: 30px;
    height: 25px;
    position: relative;
    margin: 30px;
}

.hamburguerStyle,
.hamburguerStyle::after,
.hamburguerStyle::before
{
    content: "";
    display: block;
    background-color: black;
    height: 3px;
    width: 100%;
    border-radius: 3px;
    position: absolute;
}

.hamburguerStyle::before{
    top: 8px;
}

.hamburguerStyle::after{
    bottom: 8px;
}

.menuBotao:hover .hamburguerStyle,
.menuBotao:hover .hamburguerStyle::after,
.menuBotao:hover .hamburguerStyle::before
{
    background-color: rgb(255, 24, 24);
}

.menu{
    list-style: none;
    background-color: rgb(225, 208, 208);
    position: absolute;
    left: 23px;
    width: auto;
    height: 0;
    transition: height 0.3 ease;
    overflow: hidden;
}

.menu.open{
    height: auto;
}